<% if current_user %>
  <div class="small-9 columns">
  </div>
  <div class="small-3 columns">
      <% if current_user.role == "Volunteer" %>
        <div class="callout" id="index-title">
          <strong>Upcoming Volunteer Sessions</strong>
        </div>
      <% elsif current_user.role == "Rescue Owner" && current_user.shelter_id != nil %>
        <div class="callout" id="index-title">
          <% owned_shelter = Shelter.find(current_user.shelter_id) %>
          <strong>Upcoming Volunteer Sessions at <br>
            <%=link_to owned_shelter.name, shelter_path(owned_shelter), id: "inverse-link" %></strong>
        </div>
      <% end %>
    <div>
      <% @upcoming_volunteer_sessions.each do |upcoming_volunteer_session| %>
        <% if current_user == upcoming_volunteer_session.user %>
        <% shelter = Shelter.find(upcoming_volunteer_session.shelter_id) %>
          <div class="callout" id="index-callout">
            <strong><%= link_to shelter.name, shelter_path(shelter), id: "inverse-link" %></strong><br>
            <% date = DateTime.parse(upcoming_volunteer_session.date) %>
            When: <%= date.strftime("%a., %B %d") %> from <%= upcoming_volunteer_session.time %>
          </div>
        <% elsif current_user.shelter_id == upcoming_volunteer_session.shelter_id %>
        <% volunteer = User.find(upcoming_volunteer_session.user.id) %>
        <% date = DateTime.parse(upcoming_volunteer_session.date) %>
          <div class="callout" id="index-callout">
            <strong><%= volunteer.first_name %> <%= volunteer.last_name %></strong><br>
            When: <%= date.strftime("%a., %B %d") %> from <%= upcoming_volunteer_session.time %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
