<div class="callout" id="non-home-pages">
  <div class="small-12 columns">
    <strong><div><%= @created_shelter.name %></div></strong>
    <% if @created_shelter.user_id %>
      <% owner = User.find(@created_shelter.user_id) %>
      Owned By: <%= owner.first_name %> <%= owner.last_name %> (<%= owner.email %>)
    <% end %>
    <div><%= @created_shelter.address %></div>
    <div><%= @created_shelter.city %>, <%=@created_shelter.state %> <%= @created_shelter.zip %></div>
      <% if @created_shelter.website != "" %>
        <div><%= link_to "Website", @created_shelter.website, target: "_blank", id: "inverse-link" %></div>
      <% end %>
    <br>
    <div><%= @created_shelter.description %></div>
    <br>
  </div>

  <div>
    <% if current_user.admin? %>
      <h5><strong><%= "Upcoming Volunteer Sessions at #{@created_shelter.name}" %></strong></h5>
      <% if @volunteer_sessions.empty? %>
        <i>No volunteer sessions scheduled at this shelter.</i>
      <% else %>
        <% @volunteer_sessions.order('date').each do |volunteer_session| %>
        <% volunteer = User.find(volunteer_session.user.id) %>
          <% if volunteer_session.shelter == @created_shelter %>
            <div class="callout" id="inner-callout">
              <div class="small-8 columns">
                <strong><%= volunteer.first_name %> <%= volunteer.last_name %></strong><br>
                <% date = DateTime.parse(volunteer_session.date) %>
                <%= date.strftime("%a., %B %d") %> from <%= volunteer_session.time %>
              </div>
            <div>
              <%= link_to "Delete Session", shelter_volunteer_session_path(@created_shelter, volunteer_session), method: :delete, id: "inverse-link" %>
            </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% elsif current_user.role == "Volunteer" %>
      <%= link_to "Volunteer Here!", new_shelter_volunteer_session_path(@created_shelter.id), method: :get, class: "button small" %>
      <h5><strong><%= "Upcoming Volunteer Sessions for #{current_user.first_name}" %></strong></h5>
      <% if @volunteer_sessions.empty? %>
        <i>No volunteer sessions scheduled at this shelter.</i>
      <% else %>
        <% @volunteer_sessions.order('date').each do |volunteer_session| %>
        <% volunteer = User.find(volunteer_session.user.id) %>
          <% if volunteer_session.shelter == @created_shelter %>
            <div class="callout" id="inner-callout">
              <div class="small-8 columns">
                <% date = DateTime.parse(volunteer_session.date) %>
                <%= date.strftime("%a., %B %d") %> from <%= volunteer_session.time %>
              </div>
            <div>
              <%= link_to "Delete Session", shelter_volunteer_session_path(@created_shelter, volunteer_session), method: :delete, id: "inverse-link" %>
            </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% elsif current_user.role == "Rescue Owner" %>
      <% if current_user.shelter_id == nil && @created_shelter.user_id == nil %>
        <%= form_tag edit_shelter_user_path(@created_shelter), method: :get do %>
          <%= hidden_field_tag :current_user, current_user.id %>
          <%= submit_tag "Claim this Shelter!", class: "button small" %>
        <% end %>
      <% end %>

      <h5><strong>Upcoming Volunteer Sessions</strong></h5>
      <% if @volunteer_sessions.empty? %>
        <i>No volunteer sessions scheduled yet!</i>
      <% else %>
        <% @volunteer_sessions.order('date').each do |volunteer_session| %>
        <% volunteer = User.find(volunteer_session.user.id) %>
          <div class="callout" id="inner-callout">
            <div class="small-8 columns">
              <strong><%= volunteer.first_name %> <%= volunteer.last_name %></strong><br>
              <% date = DateTime.parse(volunteer_session.date) %>
              <%= date.strftime("%a., %B %d") %> from <%= volunteer_session.time %>
            </div>
            <div>
              <%= link_to "Delete Session", shelter_volunteer_session_path(@created_shelter, volunteer_session), method: :delete, id: "inverse-link" %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
