<div class="callout" id="non-home-pages">
  <div class="large-6 small-6 columns">
    <div><%= @created_shelter.name %></div>
    <div><%= @created_shelter.address %></div>
    <div><%= @created_shelter.city %>, <%=@created_shelter.state %> <%= @created_shelter.zip %></div>
    <br>
    <strong><div> <%= button_to "Volunteer Here!", new_shelter_volunteer_session_path(@created_shelter.id), method: :get, class: "button small"%></div></strong>
    <br>
</div>
