<div class="callout" id="non-home-pages">
<% if current_user && current_user.admin? %>
  <h5><strong>Volunteer Sessions List</strong></h5>
    <h5><%= link_to "Back", shelters_path, method: :get, id: "inverse-link" %> |
    <%= link_to "Volunteer Sessions List", admin_users_path, method: :get, id: "inverse-link" %></h5>
    <% @volunteer_sessions.order('date').each do |volunteer_session| %>
      <div class="callout" id="inner-callout">
        <div class="small-8 columns">
          <% volunteer = User.find(volunteer_session.user.id) %>
          <% shelter = Shelter.find(volunteer_session.shelter.id) %>
          <strong><%= shelter.name %></strong><br>
          <% date = DateTime.parse(volunteer_session.date) %>
          <%= volunteer.first_name %> <%= volunteer.last_name %> (<%= date.strftime("%a., %B %d") %> from <%= volunteer_session.time %>)
        </div>
        <div class="small-4 columns">
          <%= link_to "Delete Session", admin_volunteer_session_path(volunteer_session), method: :delete, id: "inverse-link" %><br>
        </div>
      </div>
    <% end %><br>
  </div>
<% end %>
