<div class="callout" id="non-home-pages">
<% if current_user && current_user.admin? %>
    <h2> User Account List </h2>
    <%= link_to "Back", shelters_path, method: :get %> |
    <%= link_to "Volunteer Sessions List", admin_volunteer_sessions_path, method: :get %>
    <br><br>
    <% @users.each do |user| %>
      <div class="callout" id="inner-callout">
        <%= user.first_name %> <%= user.last_name %>
        <%= link_to "Delete #{user.email}'s Account", admin_user_path(user), method: :delete %><br>
      </div>
      <% end %><br>
  </div>
<% end %>
