<nav class="top-bar">
  <div class="top-bar-left">
    <strong><%= link_to "pawpal", root_path, id: "link" %></strong>
  </div>

  <section class="top-bar-right">
    <% if current_user %>
      <%= link_to current_user.email, user_path(current_user), id: "link" %> |
      <%= link_to "view profile", user_path(current_user), id: "link" %> |
      <%= link_to "sign out", destroy_user_session_path, method: :delete, id: "link"  %>
      <% if current_user.admin == true %>
        | <%= link_to "admin", admin_users_path, id: "link" %>
      <% end %>
    <% else %>
      <%= link_to 'sign up', new_user_registration_path, id: "link" %> |
      <%= link_to 'sign in', new_user_session_path, id: "link" %>
    <% end %>
  </section>
</nav>
